@page "/Account/ConfirmEmail"

@using System.Text
@* @using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using NSL.BlazorTemplate.Data *@

@* @inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
 *@
<PageTitle>Confirm email</PageTitle>

<h1>Confirm email</h1>
<StatusMessage Message="@statusMessage" />


